:root {
  --letter-spacing-default: 0.02rem;
  --font-size-default:0.9rem;
}

@font-face {
  font-family: "Gotham Book";
  src: "fonts/GothamBook Regular.otf";
}

body, .dropdown-menu {
    font-size: var(--font-size-default);

}

h1, h2, h3, h4, h5, h6{
	color:#000;
	letter-spacing: 0.2rem;
}

h1, .h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.05rem;
}

h4 {
    font-size: 1rem;
}

p{
	font-size: var(--font-size-default);
	letter-spacing: var(--letter-spacing-default);
}

.font-small{
	font-size: 0.8rem;
	letter-spacing: 0;
}
.font-big{
	font-size: 0.95rem;
}
.font-bigger{
	font-size: 1.05rem;
}

.title-big{
	font-size: 1.4rem;
}

#page-title.page-title-parallax{
	padding:150px 0;
}
.row .section{
	width: 100%;
}

#page-title.page-title-parallax{
	background-image: none;
}
.slider-caption h2{
	font-size: 3rem;
	text-transform:none;
	line-height: 1.5;
}

.slider-caption h3{
   font-size: 2rem;
   text-transform:none;
}
blockquote h3 {
    font-size: 1.3rem;
    letter-spacing: 0.15rem;
}

.welcome-msg{
	letter-spacing: var(--letter-spacing-default);
}

#header.sticky-header:not(.static-sticky).sticky-style-2, #header.sticky-header:not(.static-sticky).sticky-style-3{
	z-index: 998;
}

#header.sticky-style-2 {
    height: auto;
}



#header, #header-wrap, #logo img{
	height: 90px;
}

.header-extras{
	margin-top: 30px;
}

.widget p:not(.lead) {
    font-size: var(--font-size-default);
    color:#FFF;
    opacity: 1;
}

#footer_nav{
	display: flex;
	margin:0;
	padding:0;
}

#footer_nav li{
	color:#FFF;
	list-style: none;
	padding-right: 20px;
}

#footer_nav li a{
	color:#FFF;
	letter-spacing: var(--letter-spacing-default);
}

#footer_nav li:hover a{
	color:var(--main-bg-color);
}

.footer-logo{
	width: 250px;
}

span.footer-icon {
    width: 18px;
    height: 18px;
    /* display: inline-block; */
    margin-right: 15px;
}

.button{
	font-size: .9rem;
	font-weight: 400;
	min-width: 128px;
	text-align: center;
	letter-spacing: 2px;
	text-shadow: none;
}

.button.button-wihte{
	background: #FFF;
	color:var(--main-bg-color);
}


.button.button-wihte:hover{
	color:#FFF;
	background: var(--main-bg-color);
}

.button.button-100{
	min-width: 100px;
}

.dark .button-dark:not(.button-border), .dark .button:hover {
    background-color: #FFF;
    color:var(--main-bg-color);
}

.header-extras li .he-text{
	font-weight: 400;
	font-size: calc(0.9 * var(--font-size-default));
}
.header-extras li .he-text span {
    display: block;
    font-weight: 700;
    color: #000;
}

.bin-icon-box{
	background-color:#FFF;
	padding:30px 30px 50px;
	transition: all 0.5s;
	border:0.5px #bfbec0 solid;
}

.bin-icon-box svg{
	width: 70px;
	height: auto;
}
.bin-icon-box svg path{
	transition: all 0.5s ;
	fill:var(--main-bg-color);
}



.bin-icon-box h3,.bin-icon-box h4{
	color:#000;
}

.bin-icon-box:hover,.bin-icon-box.active{
	background-color:var(--main-bg-color);
	border-color:var(--main-bg-color);
}

.bin-icon-box:hover svg path,.bin-icon-box.active svg path{
	fill:#FFF;
}

.bin-icon-box.active h3,.bin-icon-box.active h4{
	transition: all 0.5s ;
}

.bin-icon-box.active h3,.bin-icon-box.active h4,.bin-icon-box:hover h3,.bin-icon-box:hover h4,.bin-icon-box:hover a,.bin-icon-box:hover,.bin-icon-box.active,.bin-icon-box.active a{
	color:#FFF;
}


.bh-head-icon{
	height: 25px;
}

.he-text {
    color: #606060;
}

.he-text span{
	color:#000;
	font-weight: bold;
}

.slider-caption h3 {
    /*font-size: 1.75rem;*/
    font-weight: 500;
    letter-spacing: 0.3rem; 
}

.binhong-slider{
	max-height: 450px;
}

.binhong-iconbox{
	padding: 40px 40px;
	border-width: 0.5px;
	border-color: #e4e4e4;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	display: flex;

}



.binhong-icon{
	
}

.binhong-icon img{
	width: 70px;
}

.binhong-iconbox h4,.binhong-iconbox h3{
	margin-bottom: 10px;
}

.binhong-pic-shadow{
	position: relative;
}
.binhong-pic-shadow:before{
	content: "";
	background-color: var(--main-bg-color);
	position: absolute;
	width: 100%;
	height: 100%;
	top:18px;
	right: -18px;
	z-index: -1;
}

.pd-on-sm{
	padding: 0;
	padding-left: 20px;
}

#trigger_box h1{
	letter-spacing: .5rem;
}

div.shadowBottom {
    box-shadow: 0 3px 3px #eee;
    position: relative;
    z-index: 997;
}

div.shadowTop {
    box-shadow: 0 -3px 3px #ddd;
    position: relative;
    z-index: 997;
}


.bin-image-section h3 {
    width: 70%;
    min-width: 200px;
    height: 70px;
    background-color: #FFF;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    z-index: 3;
    position: relative;
    box-shadow: 0 0 8px #999;
    text-align: center;
}

.fluid-width-video-wrapper {
    min-height: 350px;
}

p.contact-box {
    color: #000;
    word-spacing: 5px;
}

p.contact-box span{
	font-weight: 700;
	letter-spacing: calc( 5 * var(--letter-spacing-default));
}

.text-justify-last-center{
	text-align: justify !important;
	text-align-last: center !important;
}

.binhong-service-box{
	 min-height: 330px;
}

.binhong-service-icon-box{
    background: #FFF;
    display: flex;
    height: 100%;
    align-items: start;
}
.binhong-service-icon-box *{
	transition: all 0.3s ease;
}

.binhong-service-icon-box .icon{
	min-width: 70px;
	height: auto;
	text-align: center;
}

.binhong-service-box svg path{
	fill:var(--main-bg-color);
}

.binhong-service-box:hover .binhong-service-icon-box{
	background-color: var(--main-bg-color);
}

.binhong-service-box:hover .desc *{
	color:#FFF;
}

.binhong-service-box:hover svg path{
	fill:#FFF;
}
.proccess-box{
	position: relative;
	height: calc(100% - 30px);
}
.proccess-box:before,.proccess-box:after{
	content: "";
	width: 100%;
	height: 50%;
	z-index: 1;
	position: absolute;
	border-width: 3px;
	border-color: var(--main-bg-color);
	border-radius: 10px;
	pointer-events: none;
}

.proccess-box:before{
	top:0;
	left: 0;
	border-style: solid;
	border-bottom:none;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.proccess-box:after{
	top:50%;
	left: 0;
	border-style: dashed;
	border-top:none;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.proccess-box-content{
	background-color: var(--main-bg-color);
	border-radius: 7px;
	border:2px solid #FFF;
	box-shadow: -5px 3px 5px #ccc;
	height: 100%;
}

.proccess-arrow{
	position: absolute;
	top:50%;
	margin-top:-10px;
	height: 20px;
	width: 1rem;
    right: -1rem;
}

.proccess-arrow:before{
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 10px;
	border-color: transparent transparent transparent var(--main-bg-color);
	right: 0;
    top: 5px;
}

.proccess-arrow:after{
	content: "";
	position: absolute;
	height: 3px;
	width: 0.8rem;
	top:50%;
	left:0;
	margin-top: -1.5px;
	background-color: var(--main-bg-color);
}

.proccess-box-outside:nth-child(even) .proccess-box-content{
	background-color: #012669;
}

.proccess-box-outside:nth-child(even) .proccess-box:before,.proccess-box-outside:nth-child(even) .proccess-box:after{
	border-color: #012669;
}

.proccess-box-outside:nth-child(even) .proccess-arrow:after{
	background-color: #012669;
}

.proccess-box-outside:nth-child(even) .proccess-arrow:before{
	border-color: transparent transparent transparent #012669;
}

.proccess-box-outside:last-child .proccess-arrow{
	display: none;
}



@media (max-width: 1365px) {
	#logo{
		max-width: 280px;
	}

	.section{
		padding:80px 0;
	}
	/*.binhong-iconbox{
		padding: 80px 80px;
	}*/
}

@media (max-width: 991.98px) {

	#header{
		position: sticky;
	    top: 0;
	    width: 100%;
	    /* height: 81px; */
	    background: #FFF;
	    z-index: 999;
	    box-shadow: 0 0px 1px #999;
	}

	#header.sticky-style-2 #header-wrap, #header.sticky-style-3 #header-wrap {
	    min-height: 60px;
	    position: absolute;
	    top: 0;
	    right: 15px;
	}

	#logo {
	    height: 80px;
	    text-align: left;
	    margin: 0 !important;
	    display: flex;
	    align-items: center;
	}



	ul.sf-js-enabled {
	    width: 100vw;
	    background: #FFF;
	    position: absolute;
	    right: -15px;
	    top: 80px;
	    
	}

	ul.sf-js-enabled.d-block {
	    box-shadow: 0 3px 8px -3px #ccc inset,0 0px 3px #ccc;
	}

	#primary-menu .container #primary-menu-trigger {
	   top: 5px;
	    left: 50%;
	    margin-left: -25px;
	    margin-top: 10px;
	}

	#primary-menu > div > ul {
	    padding-top: 20px !important;
	    padding-bottom: 20px !important;
    	padding-left: 15px !important;
    	padding-right: 15px !important;
	}

	#page-title.page-title-parallax{
		padding: 80px 0;
	}

}

@media (max-width: 991px) {
	
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li.current a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li:hover a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li.current a {
	    color: var(--main-bg-color) !important;
	}

	.binhong-service-icon-box .icon{
		min-width: 50px;
	}

	.binhong-service-icon-box .icon svg{
		width: 45px;
	}

}

@media (max-width: 767.98px) {
	
	.section{
		padding:60px 0;
	}

	#slider.binhong-slider{
		height: 70vh !important;
	}
	.swiper_wrapper:not(.force-full-screen), .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide {
	    height: 70vh !important;
	}

	.slider-caption h3 {
    	font-size: 1.25rem;
	}

	.binhong-iconbox{
		margin-right: 15px;
		margin-left: 15px;
		border-right: none;
		border-left: none;
	}
	
	.proccess-box:before,.proccess-box:after{
		display: none;
	}

	.proccess-arrow{
		top:auto;
		bottom:0;
		left:50%;
		right: auto;
		margin-left:-10px;
		width: 20px;
	    height: 16px;
	    z-index: 3;
	}

	.proccess-arrow:before{
		border-width: 15px 7.5px 0 7.5px;
		border-color: var(--main-bg-color) transparent transparent transparent;
		right: 3px;
    	top: auto;
    	bottom: -13px;
	}

	.proccess-arrow:after{
		height: 25px;
		width: 5px;
		top:0;
		left:50%;
		margin-left: -2.5px;
		margin-top:0;
		/*border: 1px solid #FFF;
    	border-top: none;*/
	}

	.proccess-box-outside:nth-child(even) .proccess-arrow:before{
		border-color: #012669 transparent transparent transparent;
	}

	.proccess-box-content{
		height: auto;
	}

	.proccess-box{
		height: auto;
	}

}

@media (max-width: 575.98px){
	.pd-on-sm{
		padding: 0 15px;
	}

	.binhong-pic-shadow:before{
		top:10px;
		right: -10px;
	}
	#slider.binhong-slider{
		height: 70vh !important;
	}
	.swiper_wrapper:not(.force-full-screen), .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide {
	    height: 70vh !important;
	}

	.swiper_wrapper .slider-caption h2 {
	    font-size: 1.5rem;
	}
}

@media (min-width: 768px){
	#footer_nav{
		position: absolute;
		bottom: 0;
		left: 15px;
	}

	.text-md-justify{
		text-align: justify !important;
	}

	.text-md-justify-last-left{
		text-align: justify !important;
		text-align-last: left !important;
	}

	.text-md-justify-last-center{
		text-align: justify !important;
		text-align-last: center !important;
	}
}

@media (min-width: 991px){
	#primary-menu ul li > a{
		padding-left: 0;
		padding-right: 30px;
		font-size: 1rem;
	}

	

	.binhong-iconbox:nth-child(3n+1) {
	    border-left: none;
	}

	.binhong-iconbox:nth-child(3n) {
	    border-right: none;
	}


}



@media (min-width: 1366px) {
	/*.binhong-iconbox{
		padding: 80px 80px;
	}*/

	.section{
		padding:130px 0;
	}
}

/*5 column*/

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-1-5 {
    flex: 20%;
    max-width: 20%;
}


@media (min-width: 768px) {
.col-md-1-5 {
        flex: 20%;
    	max-width: 20%;
    }
}
@media (min-width: 992px) {
    .col-lg-1-5 {
        flex: 20%;
    	max-width: 20%;
    }
}
@media (min-width: 1200px) {
    .col-xl-1-5 {
        flex: 20%;
    	max-width: 20%;
    }
}

@media (min-width: 1366px) {
    .col-xxl-1-5 {
        flex: 20%;
    	max-width: 20%;
    }
}