@font-face {
  font-family: "Gotham Book";
  src: "fonts/GothamBook Regular.otf";
}

body, .dropdown-menu {
    font-size: 0.75rem;

}

h1, h2, h3, h4, h5, h6{
	color:#000;
	letter-spacing: 0.2rem;
}

h1, .h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 0.95rem;
}

h4 {
    font-size: 0.85rem;
}

p{
	font-size: 0.75rem;
	letter-spacing: 0.2rem;
}

.welcome-msg{
	letter-spacing: 0.1rem;
}

#header.sticky-style-2 {
    height: 126px;
}

#header, #header-wrap, #logo img{
	height: 65px;
}

.header-extras{
	margin-top: 15px;
}

.widget p:not(.lead) {
    font-size: 0.75rem;
    color:#FFF;
    opacity: 1;
}

#footer_nav{
	display: flex;
	margin:0;
	padding:0;
}

#footer_nav li{
	color:#FFF;
	list-style: none;
	padding-right: 20px;
}

#footer_nav li a{
	color:#FFF;
	letter-spacing: 0.2rem;
}

#footer_nav li:hover a{
	color:var(--main-bg-color);
}

.footer-logo{
	width: 250px;
}

span.footer-icon {
    width: 18px;
    height: 18px;
    /* display: inline-block; */
    margin-right: 15px;
}

.button{
	font-size: 0.75rem;
	font-weight: 400;
	min-width: 128px;
	text-align: center;
	letter-spacing: 0.2rem;
	text-shadow: none;
}

.button.button-wihte{
	background: #FFF;
	color:var(--main-bg-color);
}


.button.button-wihte:hover{
	color:#FFF;
	background: var(--main-bg-color);
}

.button.button-100{
	min-width: 100px;
}

.dark .button-dark:not(.button-border), .dark .button:hover {
    background-color: #FFF;
    color:var(--main-bg-color);
}

.header-extras li .he-text{
	font-weight: 400;
	font-size: 0.75rem;
}
.header-extras li .he-text span {
    display: block;
    font-weight: 700;
    color: #000;
}

.bin-icon-box{
	background-color:#FFF;
	padding:30px;
	transition: all 0.5s 0s;
	border:0.5px #bfbec0 solid;
}


.bin-icon-box svg *{
	fill:var(--main-bg-color);
}



.bin-icon-box h3,.bin-icon-box h4{
	color:#000;
}

.bin-icon-box:hover,.bin-icon-box.active{
	background-color:var(--main-bg-color);
	border-color:var(--main-bg-color);
}

.bin-icon-box:hover svg *,.bin-icon-box.active svg *{
	fill:#FFF;
}

.bin-icon-box.active h3,.bin-icon-box.active h4,.bin-icon-box:hover h3,.bin-icon-box:hover h4,.bin-icon-box:hover a,.bin-icon-box:hover,.bin-icon-box.active,.bin-icon-box.active a{
	color:#FFF;
}


.bh-head-icon{
	height: 25px;
}

.he-text {
    color: #606060;
}

.he-text span{
	color:#000;
	font-weight: bold;
}

.slider-caption h3 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.3rem; 
}

.binhong-slider{
	max-height: 450px;
}

.binhong-iconbox{
	padding: 40px 30px;
	border-width: 0.5px;
	border-color: #e4e4e4;
	border-bottom-style: solid;
	border-right-style: solid;

}

.binhong-icon{
	
}

.binhong-icon img{
	width: 70px;
}

.binhong-iconbox h4,.binhong-iconbox h3{
	margin-bottom: 10px;
}

.binhong-pic-shadow{
	position: relative;
}
.binhong-pic-shadow:before{
	content: "";
	background-color: var(--main-bg-color);
	position: absolute;
	width: 100%;
	height: 100%;
	top:18px;
	right: -18px;
	z-index: -1;
}

.pd-on-sm{
	padding: 0;
	padding-left: 20px;
}

#trigger_box h1{
	letter-spacing: .5rem;
}

div.shadowBottom {
    box-shadow: 0 5px 5px #aaa;
    position: relative;
    z-index: 999;
}

@media (max-width: 991.98px) {
	#header.sticky-style-2 #header-wrap, #header.sticky-style-3 #header-wrap {
	    min-height: 60px;
	    position: absolute;
	    top: 0;
	    right: 15px;
	}

	#logo {
	    height: 80px;
	    text-align: left;
	    margin: 0 !important;
	    display: flex;
	    align-items: center;
	}

	ul.sf-js-enabled {
	    width: 100vw;
	    background: #FFF;
	    position: absolute;
	    right: -15px;
	    top: 65px;
	    
	}

	#primary-menu .container #primary-menu-trigger {
	   top: 5px;
	    left: 50%;
	    margin-left: -25px;
	    margin-top: 10px;
	}

	#primary-menu > div > ul {
	    padding-top: 0 !important;
    	padding-left: 15px !important;
    	padding-right: 15px !important;
	}

}

@media (max-width: 991px) {
	
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li.current a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li:hover a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li.current a {
	    color: var(--main-bg-color) !important;
	}

}

@media (max-width: 767.98px) {
	#slider.binhong-slider{
		height: 70vh !important;
	}
	.swiper_wrapper:not(.force-full-screen), .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide {
	    height: 70vh !important;
	}

	.slider-caption h3 {
    	font-size: 1.5rem;
	}

	.binhong-iconbox{
		margin-right: 15px;
		margin-left: 15px;
		border-right: none;
	}
}

@media (max-width: 575.98px){
	.pd-on-sm{
		padding: 0 15px;
	}

	.binhong-pic-shadow:before{
		top:10px;
		right: -10px;
	}
	#slider.binhong-slider{
		height: 70vh !important;
	}
	.swiper_wrapper:not(.force-full-screen), .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide {
	    height: 70vh !important;
	}
}