<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" /> -->
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="binhong.css" type="text/css" />

	<script type="text/javascript">
		const config = {
			_current : "contact",
			title:"Contact",
		};
	</script>
	<!-- Document Title
	============================================= -->
	<title id="title">秉宏精密科技實業有限公司</title>
	

</head>

<body  class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar" :class="isdark? 'dark':''">

			<div class="container clearfix">

				<div class="nobottommargin welcome-msg">
					
					{{topbartext}}

				</div>

				

			</div>

		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" class="sticky-style-2 no-transition">

			<div class="container clearfix pt-lg-4 pb-lg-4">

				<!-- Logo
				============================================= -->
				<div id="logo" class="norightmargin" :style="logoStyle">
					<a :href="path" class="standard-logo" data-dark-logo="image"><img :src="image" alt=""></a>
					<a :href="path" class="retina-logo" data-dark-logo="image2x"><img :src="image2x" alt=""></a>
				</div><!-- #logo end -->

				<ul class="header-extras">
					<li>
						<div class="d-flex align-items-center">
							<div class="bh-head-icon"><img src="images/icons/h-map.svg"></div>
							<div class="he-text ls1">
								{{contact.address}}
								<span>{{contact.addressTwo}}</span>
							</div>
						</div>
					</li>
					<li>
						<div class="d-flex align-items-center">
							<div class="bh-head-icon"><img src="images/icons/h-time.svg"></div>
							<div class="he-text ls1">
								營業時間
								<span>{{contact.time}}</span>
							</div>
						</div>
					</li>
					<li>
						<div class="d-flex align-items-center">
							<div class="bh-head-icon"><img src="images/icons/h-tel.svg"></div>
							<div class="he-text ls1">
								聯絡我們
								<span>{{contact.tel}}</span>
							</div>
						</div>
					</li>
				</ul>

			</div>

			<div id="header-wrap">

				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu" class="style-2">

					<div class="container clearfix">

						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

						<ul>
							<li v-for="(link, key) in nav" :class="{current:currentPage(link.current)}">
								<a :href="link.path" v-html="link.text + link.icon"></a>
							</li>
						</ul>

					</div>

				</nav><!-- #primary-menu end -->

			</div>

		</header><!-- #header end -->
		<div class="clear"></div>


		<section id="slider" v-show="false" class="binhong-slider slider-element slider-parallax swiper_wrapper full-screen clearfix">
			<slider :sliders="sliders"></slider>
		</section>
		
		
		<!-- Page Title
		============================================= -->
		<section id="page-title" v-show="false" class="page-title-parallax page-title-dark" :style="style" style="background-size: cover;" data-bottom-top="background-position:0px 50px;" data-top-bottom="background-position:0px -50px;">
			<div class="overlay" style="background-color:rgba(26,11,8,.5);"></div>
			<div class="container clearfix">
				<h1 class="text-capitalize">{{text}}</h1>
			</div>
		</section><!-- #page-title end -->
		<div class="clear"></div>
		
		<!-- Content
		============================================= -->
		<section id="content">
			
			<div class="content-wrap nopadding" id="render">
				<div class="container-fluid nopadding nomargin">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.973380520201!2d120.22459351496785!3d23.024749584951977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e7718c755d14d%3A0xe88a3f6dd7516594!2zNzEw5Y-w5Y2X5biC5rC45bq35Y2A5q2j5Y2X5LiA6KGXMTI55be3MzjlvIQyNuiZnw!5e0!3m2!1szh-TW!2stw!4v1581477775068!5m2!1szh-TW!2stw" width="600" height="100" frameborder="0" style="border:0;" allowfullscreen="0"></iframe>
				</div>	

				<div class="section bg-white nomargin">
					<div class="container">
						<h2 class="ls1 mb-3">Contact us</h2>
						<p class="contact-box">
							<span>地址</span>  {{contact.addressFull}}<br>
							<span>信箱</span>  {{contact.email}}<br>
							<span>電話</span>  {{contact.tel}} <span>傳真</span>  {{contact.fax}}<br>
							<span>統編</span>  {{contact.barcode}}
						</p>
					</div>	
				</div>
			
			</div>

		</section><!-- #content end -->
		
		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark noborder" style="background-image:rgba(0,0,0,.8);background-size: cover;background-position: center;" :style="{'background-image':'url('+bg_image+')'}">
			<div class="overlay" style="background-color:rgba(0,0,0,.8);"></div>
			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">
					<div class="row">
						
						<div class="col-md-5 nomargin">						
							<div class="widget clearfix">

								<img :src="logo" alt="" class="footer-logo mb-3">

								<p class="mb-4">{{des}}</p>

							</div>
							<ul v-if="nav" id="footer_nav">
								<li v-for="(li , index) in nav">
									<a :href="li.path">{{li.text}}</a>
								</li>
							</ul>						

						</div>

						<div class="col-md-2  mt-5 mt-md-0"></div>

						<div class="col-md-5 nomargin">

							<div class="widget clearfix">
								<div class="mb-3 d-block d-md-none"></div>
								<h4  class="mb-3" style="color:#FFF">聯絡資訊</h4>
								<p v-html="des_2" class="mb-4"></p>
								<div class="d-flex align-items-center mb-2">
									<span class="footer-icon"><img src="images/icons/f-map.svg"></span><p class="nomargin nopadding">{{contact.addressFull}}</p>
								</div>
								<div class="d-flex align-items-center mb-2">
									<span class="footer-icon"><img src="images/icons/f-mail.svg"></span><p class="nomargin nopadding">{{contact.email}}</p>
								</div>
								<div class="d-flex align-items-center">
									<span class="footer-icon"><img src="images/icons/f-tel.svg"></span><p class="nomargin nopadding">{{contact.telfooter}}</p>
								</div>
							</div>	

						</div>

					</div>	

				</div><!-- .footer-widgets-wrap end -->

			</div>

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>
	<script src="js/icons.js"></script>
	<script src="components.js"></script>
	<script src="site2.js"></script>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js" defer></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js" defer></script>
	
</body>
</html>